body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-box{
  display: grid;
  grid-template-columns: 1fr 45vw 1fr 45vw 1fr;

  width: 100%;
  height: 100%;
}

.task1{
  grid-column-start: 2;
  grid-column-end: 3;
}

.task1__header{
  width: 100%;
  height: 60px;
  background-color: #3abdbd;
  color: #ffffff;
}

.task1__headline{
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.task1__postsList{
  margin-top: 10px;
  border-top: 2px solid #aaaaaa;
}

.post{
  padding-bottom: 10px;
  border-bottom: 2px solid #aaaaaa;
}

.post__title{
  margin: 0;
  color: #5b5b5b;
}

.post__text{
  margin: 0 0 10px 30px;
}


.post__show-comment{
  background-color: transparent;
  color: #2d9393;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.post__hide-comment{
  color: #7dc1c1;
  margin-bottom: 20px;
}

.comment{
  position: relative;
  left: 10%;
  width: 90%;
  padding-bottom: 10px;
  border-top: 1px solid #b9b8b8;

}

.comment__title {
  position: absolute;
  right: 5px;
  color: #7dc1c1;
}

.comment__text{
  position: relative;
  top: 10px;
  right: 5px;
  text-align: right;
  font-size: 12px;
}







.task2{
  grid-column-start: 4;
  grid-column-end: 5;
}

.info{
  box-sizing: border-box;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 110px;
  border: 2px solid #7e7e7e;
}

.info__field{
  box-sizing: border-box;
  width: 180px;
  height: 25px;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 5px;
  border: 2px solid #aaaaaa;
}

.info__field:focus-visible{
  outline: none;
  border: 2px solid #3abdbd;
}

.info__radio{
  width: 15px;
  height: 15px;
  margin-top: 20px;
  margin-left: 15px;
}

.info__btn-add{
  box-sizing: border-box;
  width: 178px;
  height: 25px;
  margin-top: 20px;
  margin-left: 15px;
  border: none;
  outline: none;
  background-color: #3abdbd;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.table{
  margin-top: 50px;
  width: 98%;
  border-collapse:collapse;
}

.table__head-cell{
  box-sizing: border-box;
  width: 25%;
  border-top: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
}

.table__body-cell{
  box-sizing: border-box;
  width: 25%;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
}

.delete-btn{
  background-color: transparent;
  color: #cb4033;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

